:root {
    --pry-color: #f08;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.sitemap, footer > .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 3vw;
    z-index: 10;
    background-color: #fff;
}
@keyframes navUp {
    from {
        transform: translateY(-120%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes navDown {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-120%);
    }
}
.nav {
    position: fixed;
    animation-name: none;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    border-bottom: 2px solid var(--pry-color);
}
.sitemap .logo {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.sitemap .logo img {
    width: 30px;
}
.sitemap .logo h2 {
    font-size: 1.7rem;
    color: #999;
    background-image: linear-gradient(to bottom, rgb(255, 166, 0),rgb(216, 58, 216)0, #f00);
    /* background-image: linear-gradient(to right, rgb(65, 185, 255),rgb(216, 58, 216)0, #f00, rgb(255, 166, 0)); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
}
.sitemap nav {
    display: flex;
    column-gap: 20px;
}
.sitemap nav a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}
.sitemap nav a:hover {
    color: var(--pry-color);
}
.sitemap > .footer-links > a, .sitemap > a {
    color: #fff;
    background-color: var(--pry-color);
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 50px;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 3vw 10px;
}
.zenn-card {
    background-color: #0001;
    padding: 6px 20px;
    border-radius: 30px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}
.zenn-card div {
    background-color: var(--pry-color);
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin-bottom: 2px;
}
header > h2 {
    line-height: 1.3;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    width: 40%;
}
.header-content {
    background-color: var(--pry-color);
    background-image: url(/media/background.png);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
    border-radius: 40px;
    padding: 40px 50px 100px;
}
.phrases {
    background-color: #fff;
    width: fit-content;
    padding: 15px 40px;
    border-radius: 50px;
    display: flex;
    column-gap: 40px;
    color: #555;
    margin-bottom: 20vh;
}
.phrases .active {
    color: var(--pry-color);
}
.hook {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.hook h1 {
    text-transform: uppercase;
    color: #fff;
    line-height: 1.1;
    font-size: 4rem;
}
.hook p {
    width: 50%;
    line-height: 1.4;
    color: #fff;
}
.hook > a {
    color: var(--pry-color);
    background-color: #fff;
    text-decoration: none;
    padding: 7px 20px;
    margin-top: 7px;
    border-radius: 50px;
    width: fit-content;
}
section {
    width: 100%;
    padding: 40px 3vw;
}
.about {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}
section > h2, section > .socials > h2 {
    text-align: center;
    font-size: 2rem;
    color: #b7002b;
    margin-bottom: 10px;
    padding-top: 30px;
}
.about-content {
    width: 100%;
    display: flex;
    column-gap: 10px;
}
.about-content-2 {
    flex-direction: row-reverse;
}
.about-content .about-item-1 {
    background-color: var(--pry-color);
    background-size: 100%;
    background-position: top;
}
.about-content-1 .about-item-1 {
    background-image: url(/media/about1.png);
}
.about-content-2 .about-item-1 {
    background-image: url(/media/about2.png);
}
.about-item {
    flex: 1;
    /* height: 80vh; */
    background-color: #eee;
    border-radius: 20px;
    padding-bottom: 100px;
}
.about-item-1 {
    background-color: var(--pry-color);
    position: relative;
}
.notif {
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 70%;
    background-color: #fff8;
    position: absolute;
    padding: 15px 20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.notif img {
    width: 30px;
}
.notif1 {
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
}
.notif2 {
    bottom: 80px;
    left: 50%;
    transform: translateX(-63%);
    scale: 0.8;
}
.about-item-2 h2 {
    margin: 100px 100px 20px;
    font-size: 2rem;
    line-height: 1.1;
}
.about-item-2 p {
    margin: 0 100px 40px;
    line-height: 1.1;
}
.about-item-2 li {
    margin: 0 120px 0;
    font-size: 1.1rem;
    line-height: 1.3;
}
.about-item-2 li::marker {
    color: var(--pry-color);
}
.about-item-2 ul {
    margin: 0 0 40px;
}
.about-item-2 a {
    margin: 0 100px 0;
    font-size: 1.1rem;
    
    color: #fff;
    background-color: var(--pry-color);
    text-decoration: none;
    padding: 7px 20px;
    margin-top: 7px;
    border-radius: 50px;
    width: fit-content;
}
.the-form {
    width: 100%;
    background-color: var(--pry-color);
    border-radius: 40px;
    padding: 50px;
    color: #fff;
    margin-top: 20px;
}
.the-form form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 50%;
}
.the-form h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}
.the-form label {
    font-size: 1.2rem;
}
.the-form input {
    margin-bottom: 15px;
    background-color: #fff4;
    color: #fff;
    padding: 7px 10px;
    border: 3px solid #fff8;
    border-radius: 15px;
    font-size: 1rem;
}
.the-form input[type="submit"] {
    width: fit-content;
    padding: 10px 30px;
    font-size: 1.2rem;
    margin-top: 20px;
}
.the-form input::placeholder {
    color: #fff;
}
.contact-us > .socials > p {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.contact-us > .socials > ul {
    margin-left: 30px;
    font-size: 1.5rem;
}
.contact-us ul li {
    padding: 4px;
}
.contact-us ul li::marker {
    color: var(--pry-color);
}
.contact-us ul li a span {
    color: #000;
    text-decoration: underline;
}
.contact-us ul li a {
    color: var(--pry-color);
    font-weight: 600;
    text-decoration: none;
}
footer.sitemap {
    padding: 30px 3vw 0;
    flex-direction: column;
}
.footer-links {
    border-bottom: 2px solid #0004;
}
.legal {
    padding: 20px 0;
    color: #555;
    text-align: center;
}
.menu, .mobile-menu {
    display: none;
}

@media (max-width: 800px) {
    .sitemap {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .nav nav, .nav > a {
        display: none;
    }
    .sitemap .logo img {
        width: 25px;
    }
    .sitemap .logo h2 {
        font-size: 1.4rem;
    }
    header {
        padding: 80px 0 10px;
    }
    header > h2 {
        font-size: 1.2rem;
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .header-content {
        border-radius: 0;
        background-image: none;
        padding: 50px 5vw;
        height: fit-content;
    }
    .header-content .phrases {
        border-radius: 0;
        display: none;
        margin-top: -10px;
    }
    .hook h1 {
        font-size: 2.5rem;
        /* text-align: center; */
    }
    .hook p {
        width: 100%;
    }
    .about-content {
        flex-direction: column;
        row-gap: 3vw;
    }
    .about-item-2 h2 {
        margin: 40px 5vw 20px;
    }
    .about-item-2 p {
        margin: 0 5vw 40px;
    }
    .about-item-2 li {
        margin: 0 5vw 0 12vw;
    }
    .about-item-2 a {
        margin: 7px 5vw 0;
    }
    .about-item-1 {
        flex: none;
        height: 320px;
    }
    .about-item-2 {
        padding-bottom: 30px;
    }
    .socials {
        padding: 0 3vw;
    }
    .contact-us {
        padding: 0;
        padding-top: 30px;
    }
    .contact-us > .socials > p {
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 10px;
    }
    .contact-us > .socials > ul {
        font-size: 1.2rem;
    }
    .the-form {
        border-radius: 0;
        padding: 30px 5vw;
    }
    .the-form form {
        width: 100%;
    }
    .notif {
        font-size: 0.8rem;
        font-weight: 500;
        width: 90%;
        padding: 10px 15px;
    }
    .notif1 {
        bottom: 55px;
    }
    .notif2 {
        bottom: 5px;
    }
    footer .footer-links {
        flex-direction: column;
        row-gap: 20px;
        padding-bottom: 40px;
    }
    .legal {
        text-align: center;
        padding: 50px 0;
    }
    .menu {
        display: inline-block;
        height: 30px;
        width: 30px;
        position: relative;
        display: flex;
        align-items: center;
    }
    .menu i {
        font-size: 25px;
    }
    .mobile-menu {
        position: absolute;
        background-color: #fff;
        inset: 0;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 0 10vw;
        transform: translateY(calc(100% + 3px));
        border-bottom: 2px solid var(--pry-color);
    }
    .mobile-menu a {
        color: #000;
        text-decoration: none;
    }
}